AppShell
  TopBar(title="People")
  v-main(scrollable :style="{ background: 'var(--c-bg)' }")
    v-container(max-width="680" class="pa-4 pb-24")
      div(v-for="a in assigneesStore.assignees" :key="a.id" class="mb-5")
        .person-header
          .person-avatar(:style="{ background: a.avatarColor }") {{ a.name[0].toUpperCase() }}
          span.person-name {{ a.name }}
          span.section-header__count {{ getChoresForAssignee(a.id).length }}
        .list-panel(v-if="getChoresForAssignee(a.id).length")
          .list-row(v-for="chore in getChoresForAssignee(a.id)" :key="chore.id")
            .list-row__left
              v-icon(size="14" :color="'var(--c-primary)'" style="flex-shrink:0")
                | {{ chore.recurrence ? 'mdi-refresh' : 'mdi-circle-small' }}
              div
                .list-row__title
                  | {{ chore.title }}
                  span.tag.tag--warning(v-if="chore.isPaused") Paused
                .list-row__meta
                  CategoryBadge(:category-id="chore.categoryId")
                  span.meta-text(v-if="chore.recurrence") {{ recurrenceLabel(chore.recurrence) }}
            .list-row__actions
              button.icon-btn(title="Edit" @click="editChore(chore)")
                v-icon(size="14" :color="'var(--c-text-2)'") mdi-pencil-outline
              button.icon-btn.icon-btn--danger(title="Delete" @click="deleteChore(chore)")
                v-icon(size="14" :color="'var(--c-danger)'") mdi-trash-can-outline
        p.empty-row(v-else) No chores assigned
      .page-empty(v-if="!assigneesStore.assignees.length")
        v-icon(size="40" :color="'var(--c-text-4)'") mdi-account-outline
        p.page-empty__title No assignees yet
        p.page-empty__sub Add one in Settings
  v-fab(icon="mdi-plus" color="primary" size="large" location="bottom end" app @click="openForm()")
  ChoreForm(
    :is-open="formOpen"
    :edit-chore="editingChore"
    :edit-instance="null"
    @update:is-open="formOpen = $event"
    @saved="onSaved"
  )
  ConfirmDialog(
    v-model="confirmState.open"
    :title="confirmState.title"
    :message="confirmState.message"
    @confirm="runConfirm"
  )
